*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

img {
  max-width: 100%; }

/****** MEDIA ******/
/****** Responsive Margins ******/
/****** Responsive Paddings ******/
/****** Grid (Using Flexbox) ******/
html, body {
  height: 100%; }

header nav,
footer {
  max-width: 1152px;
  margin: auto; }

header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1000;
  background: white; }
  @media (max-width: 700px) {
    header {
      padding: 16px 0px 0px 0px; } }
  @media (min-width: 700px) and (max-width: 1152px) {
    header {
      padding: 32px 32px 8px 32px; } }
  @media (min-width: 1152px) {
    header {
      padding: 32px 64px 16px 64px; } }
  @media (min-width: 700px) {
    header nav {
      display: flex; } }
  @media (max-width: 700px) {
    header nav .logo, header nav .menu, header nav .contact {
      width: 100%;
      margin: auto; } }
  @media (min-width: 700px) {
    header nav .logo, header nav .menu, header nav .contact {
      float: left;
      width: 50%; } }
  @media (min-width: 700px) {
    header .logo {
      text-align: left; } }
  header .menu a, header .contact a {
    color: #666666; }
    header .menu a.active, header .contact a.active {
      color: #000000; }
  @media (min-width: 700px) {
    header .menu {
      display: none; } }
  header .menu a {
    display: inline-block;
    padding: 8px 8px; }
  header .contact {
    text-align: right; }
    @media (max-width: 700px) {
      header .contact {
        display: none; } }

footer {
  padding: 32px 0px; }
  footer hr {
    border: none;
    border-top: 1px solid #ccc; }
  footer .contact {
    padding-top: 64px; }
  footer .social {
    padding-top: 32px; }
    footer .social a {
      padding: 0 8px; }
  footer .copyright {
    padding-top: 64px;
    color: #666666; }

section.hero {
  height: 100%;
  min-height: 460px;
  max-width: 1280px; }
  section.hero .headline {
    position: relative;
    height: 100%;
    max-width: 780px;
    margin: auto; }
    section.hero .headline h2 {
      position: absolute;
      top: 50%;
      right: auto;
      bottom: auto;
      left: auto;
      transform: translateY(-50%);
      padding: 0 8px;
      font-weight: 400; }
  section.hero .icon {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 32px;
    left: 0;
    margin: auto; }

section.projects {
  max-width: 1280px; }
  @media (min-width: 700px) {
    section.projects article.project {
      display: flex; } }
  @media (max-width: 700px) {
    section.projects article.project {
      margin: 0 0px 32px 0px; } }
  @media (min-width: 700px) and (max-width: 1152px) {
    section.projects article.project {
      margin: 0 32px 64px 32px; } }
  @media (min-width: 1152px) {
    section.projects article.project {
      margin: 0 64px 128px 64px; } }
  @media (max-width: 700px) {
    section.projects article.project .image {
      width: 100%;
      margin: auto; } }
  @media (min-width: 700px) {
    section.projects article.project .image {
      float: left;
      width: 58.33333%; } }
  section.projects article.project .image img {
    width: 100%;
    display: block; }
  section.projects article.project .text {
    position: relative; }
    @media (max-width: 700px) {
      section.projects article.project .text {
        width: 100%;
        margin: auto; } }
    @media (min-width: 700px) {
      section.projects article.project .text {
        float: left;
        width: 41.66667%; } }
    @media (max-width: 700px) {
      section.projects article.project .text {
        padding: 16px 8px 0px 8px; } }
    @media (max-width: 700px) {
      section.projects article.project .text .headline {
        padding-bottom: 4px; } }
    @media (min-width: 700px) {
      section.projects article.project .text .headline {
        padding-bottom: 8px; } }
    @media (max-width: 700px) {
      section.projects article.project .text .caption, section.projects article.project .text .body {
        padding-bottom: 12px; } }
    @media (min-width: 700px) {
      section.projects article.project .text .caption, section.projects article.project .text .body {
        padding-bottom: 24px; } }
  @media (min-width: 700px) {
    section.projects article.project {
      align-items: stretch; }
      section.projects article.project .text .wrapper {
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: auto;
        transform: translateY(-50%); } }
  @media (min-width: 700px) {
    section.projects article.project.project--ltr .image {
      padding-right: 16px; }
    section.projects article.project.project--ltr .text {
      padding-left: 16px;
      text-align: left; }
    section.projects article.project.project--rtl {
      flex-direction: row-reverse; }
      section.projects article.project.project--rtl .image {
        padding-left: 16px; }
      section.projects article.project.project--rtl .text {
        padding-right: 16px;
        text-align: right; } }
  @media (min-width: 1152px) {
    section.projects article.project.project--ltr .image {
      padding-right: 32px; }
    section.projects article.project.project--ltr .text {
      padding-left: 32px; }
    section.projects article.project.project--rtl .image {
      padding-left: 32px; }
    section.projects article.project.project--rtl .text {
      padding-right: 32px; } }

section.project {
  margin-top: 160px; }
  @media (max-width: 700px) {
    section.project .container {
      padding-right: 16px;
      padding-left: 16px; } }
  @media (min-width: 700px) {
    section.project .container {
      padding-right: 32px;
      padding-left: 32px; } }
  @media (max-width: 700px) {
    section.project .container {
      margin-bottom: 32px; } }
  @media (min-width: 700px) {
    section.project .container {
      margin-bottom: 64px; } }
  section.project .container *:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px; }
  section.project .headline {
    max-width: 640px;
    margin: auto; }
    section.project .headline h2 {
      font-size: 28px; }
      @media (min-width: 700px) {
        section.project .headline h2 {
          font-size: 36px; } }
  section.project .text {
    max-width: 640px;
    margin: auto; }
    @media (max-width: 700px) {
      section.project .text h3, section.project .text p {
        padding-bottom: 16px; } }
    @media (min-width: 700px) {
      section.project .text h3, section.project .text p {
        padding-bottom: 32px; } }
  section.project .image-container {
    max-width: 780px;
    margin: auto; }
    @media (max-width: 700px) {
      section.project .image-container {
        padding-bottom: 16px; } }
    @media (min-width: 700px) {
      section.project .image-container {
        padding-bottom: 32px; } }
    section.project .image-container.image-container--large {
      max-width: 1152px; }
    section.project .image-container .caption {
      display: block;
      width: 100%; }
      @media (max-width: 700px) {
        section.project .image-container .caption {
          padding-top: 8px; } }
      @media (min-width: 700px) {
        section.project .image-container .caption {
          padding-top: 16px; } }
    section.project .image-container.two-images, section.project .image-container.four-images {
      display: flex;
      flex-wrap: wrap; }
      @media (max-width: 700px) {
        section.project .image-container.two-images .image, section.project .image-container.four-images .image {
          padding-right: 8px;
          padding-left: 8px; } }
      @media (min-width: 700px) {
        section.project .image-container.two-images .image, section.project .image-container.four-images .image {
          padding-right: 16px;
          padding-left: 16px; } }
    @media (min-width: 700px) {
      section.project .image-container.two-images .image {
        width: 50%; } }
    @media (max-width: 700px) {
      section.project .image-container.four-images .image {
        width: 50%; } }
    @media (min-width: 700px) {
      section.project .image-container.four-images .image {
        width: 25%; } }
  section.project .video {
    max-width: 780px;
    margin: auto; }
    @media (max-width: 700px) {
      section.project .video {
        padding-bottom: 16px; } }
    @media (min-width: 700px) {
      section.project .video {
        padding-bottom: 32px; } }
    @media (max-width: 700px) {
      section.project .video .caption {
        padding-top: 8px; } }
    @media (min-width: 700px) {
      section.project .video .caption {
        padding-top: 16px; } }
  section.project .user-stories {
    max-width: 1152px;
    margin: auto;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #666; }
    @media (min-width: 700px) {
      section.project .user-stories {
        display: flex; } }
    @media (max-width: 700px) {
      section.project .user-stories {
        padding-bottom: 32px; } }
    @media (min-width: 700px) {
      section.project .user-stories {
        padding-bottom: 64px; } }
@media (min-width: 700px) and (max-width: 1152px) and (max-width: 700px) {
  section.project .user-stories .user-story {
    width: 100%;
    margin: auto; } }
@media (min-width: 700px) and (max-width: 1152px) and (min-width: 700px) {
  section.project .user-stories .user-story {
    float: left;
    width: 33.33333%; } }

@media (min-width: 1152px) and (max-width: 700px) {
  section.project .user-stories .user-story {
    width: 100%;
    margin: auto; } }
@media (min-width: 1152px) and (min-width: 700px) {
  section.project .user-stories .user-story {
    float: left;
    width: 25%; } }

    section.project .user-stories .user-story p {
      margin: 0 18px 36px 18px;
      padding: 36px 18px;
      border: 1px solid #ccc; }
  @media (max-width: 700px) {
    section.project .spacer {
      padding-top: 32px; } }
  @media (min-width: 700px) {
    section.project .spacer {
      padding-top: 64px; } }
  @media (max-width: 700px) {
    section.project .container--brand-color {
      padding-top: 32px;
      padding-bottom: 32px; } }
  @media (min-width: 700px) {
    section.project .container--brand-color {
      padding-top: 64px;
      padding-bottom: 64px; } }
  section.project#romeo-zaccaria .container--brand-color {
    background-color: #EFEBF4; }
  section.project#highlights .container--brand-color {
    background-color: #E2EDFA; }
  section.project#zero-gravity .container--brand-color {
    background-color: #FDEAEA; }

body {
  font-family: "Chivo", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
  text-align: center; }
  @media (min-width: 1152px) {
    body {
      font-size: 18px; } }

h1, h2, h3, h4 {
  font-weight: 600;
  letter-spacing: 0.5px; }

h2 {
  font-size: 20px; }
  @media (min-width: 700px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 20px; }
  @media (min-width: 1152px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 16px; }
  @media (max-width: 700px) {
    h4 {
      padding-bottom: 4px; } }
  @media (min-width: 700px) {
    h4 {
      padding-bottom: 8px; } }
  @media (min-width: 1152px) {
    h4 {
      font-size: 18px; } }

strong {
  font-weight: 600; }

.caption {
  color: #666666; }

.underlined {
  text-decoration: underline; }
