*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

img {
  max-width: 100%; }

body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.48;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1:default, h2:default, h3:default, h4:default, h5:default {
  color: rgba(0, 0, 0, 0.87); }

h2.section-title {
  font-size: 20px;
  font-weight: 800; }

h3 {
  font-weight: 800; }

p {
  color: rgba(0, 0, 0, 0.64);
  font-size: 18px; }

b {
  font-weight: 800; }

strong {
  font-weight: 800; }

.container {
  padding-top: 84px;
  padding-bottom: 52px; }
  .container h2.section-title {
    padding-bottom: 52px; }
  @media (max-width: 700px) {
    .container {
      margin: 0px auto;
      padding-left: 32px;
      padding-right: 32px; } }
  @media (min-width: 701px) {
    .container {
      margin: 0px auto;
      max-width: 1064px;
      padding-left: 52px;
      padding-right: 52px; } }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  transition: background 0.2s; }
  header:hover {
    background: white; }
  header .container {
    position: relative; }
    header .container:before, header .container:after {
      display: block;
      content: '';
      clear: both; }
    @media (max-width: 700px) {
      header .container {
        padding-top: 32px;
        padding-bottom: 12px; } }
    @media (min-width: 701px) and (max-width: 1063px) {
      header .container {
        padding-top: 52px;
        padding-bottom: 20px; } }
    @media (min-width: 1064px) {
      header .container {
        padding-top: 52px;
        padding-bottom: 20px; } }
  @media (max-width: 700px) {
    header nav.nav-left {
      float: left;
      width: 66.66667%;
      padding-right: 24px; } }
  @media (min-width: 701px) and (max-width: 1063px) {
    header nav.nav-left {
      float: left;
      width: 33.33333%;
      padding-right: 24px; } }
  @media (min-width: 1064px) {
    header nav.nav-left {
      float: left;
      width: 33.33333%;
      padding-right: 24px; } }
  header nav.nav-right {
    text-align: right; }
    header nav.nav-right ul li {
      display: inline-block; }
      @media (min-width: 701px) and (max-width: 1063px) {
        header nav.nav-right ul li {
          padding-left: 52px; } }
      @media (min-width: 1064px) {
        header nav.nav-right ul li {
          padding-left: 52px; } }
      header nav.nav-right ul li a {
        color: rgba(0, 0, 0, 0.64); }
        header nav.nav-right ul li a:hover {
          color: rgba(0, 0, 0, 0.87); }
    @media (max-width: 700px) {
      header nav.nav-right {
        float: left;
        width: 33.33333%;
        padding-right: 24px;
        padding: 0px; }
        header nav.nav-right .nav__contact--email {
          display: none; } }
    @media (min-width: 701px) and (max-width: 1063px) {
      header nav.nav-right {
        float: left;
        width: 66.66667%;
        padding-right: 24px; }
        header nav.nav-right .nav__contact--link {
          display: none; } }
    @media (min-width: 1064px) {
      header nav.nav-right {
        float: left;
        width: 66.66667%;
        padding-right: 24px; }
        header nav.nav-right .nav__contact--link {
          display: none; } }
  header.header--white-font nav.nav-left a, header.header--white-font nav.nav-right a {
    color: white; }
  header.header--white-font nav.nav-right a:hover {
    text-decoration: underline; }
  header.header--white-font:hover nav.nav-left a {
    color: rgba(0, 0, 0, 0.87); }
  header.header--white-font:hover nav.nav-right a {
    color: rgba(0, 0, 0, 0.64); }
    header.header--white-font:hover nav.nav-right a:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87); }

#hero .container {
  position: relative;
  height: 100vh; }
  @media (min-width: 1064px) {
    #hero .container {
      position: relative; }
      #hero .container:before, #hero .container:after {
        display: block;
        content: '';
        clear: both; } }
#hero h1 {
  position: absolute; }
  @media (max-width: 700px) {
    #hero h1 {
      right: 32px;
      bottom: 52px;
      left: 32px;
      font-size: 24px; } }
  @media (min-width: 701px) and (max-width: 1063px) {
    #hero h1 {
      float: left;
      width: 75%;
      padding-right: 24px;
      bottom: 52px;
      font-size: 30px; } }
  @media (min-width: 1064px) {
    #hero h1 {
      float: left;
      width: 75%;
      padding-right: 24px;
      bottom: 52px;
      font-size: 36px; } }
#hero .profil-image {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -10;
  display: none; }
  #hero .profil-image img {
    height: 100%; }
  @media (max-width: 700px) {
    #hero .profil-image {
      top: 50%;
      transform: translateY(-50%);
      height: 61.8%; } }
  @media (min-width: 701px) and (max-width: 1063px) {
    #hero .profil-image {
      top: 50%;
      transform: translateY(-50%);
      height: 61.8%; } }
  @media (min-width: 1064px) {
    #hero .profil-image {
      top: 52px;
      bottom: 52px; } }

@media (min-width: 701px) and (max-width: 1063px) {
  #featured-articles .container {
    position: relative; }
    #featured-articles .container:before, #featured-articles .container:after {
      display: block;
      content: '';
      clear: both; } }
@media (min-width: 1064px) {
  #featured-articles .container {
    position: relative; }
    #featured-articles .container:before, #featured-articles .container:after {
      display: block;
      content: '';
      clear: both; } }
#featured-articles .featured-article .featured-article__thumbnail img {
  width: 100%; }
#featured-articles .featured-article .featured-article__title {
  padding-bottom: 4px; }
@media (max-width: 700px) {
  #featured-articles .featured-article {
    padding-bottom: 32px; }
    #featured-articles .featured-article:last-of-type {
      padding-bottom: 0; }
    #featured-articles .featured-article .featured-article__thumbnail {
      padding-bottom: 8px; } }
@media (min-width: 701px) and (max-width: 1063px) {
  #featured-articles .featured-article {
    float: left;
    width: 50%;
    padding-right: 24px; }
    #featured-articles .featured-article .featured-article__thumbnail {
      padding-bottom: 8px; } }
@media (min-width: 1064px) {
  #featured-articles .featured-article {
    float: left;
    width: 50%;
    padding-right: 24px;
    position: relative; }
    #featured-articles .featured-article .featured-article__text-wrapper {
      position: absolute;
      right: 44px;
      bottom: 20px;
      left: 20px;
      opacity: 0; }
    #featured-articles .featured-article .featured-article__thumbnail, #featured-articles .featured-article .featured-article__text-wrapper {
      transition: 0.2s; }
    #featured-articles .featured-article:hover .featured-article__text-wrapper {
      opacity: 1; }
    #featured-articles .featured-article:hover .featured-article__thumbnail {
      opacity: 0.25; } }

@media (min-width: 1064px) {
  section#user-research-articles .container {
    position: relative; }
    section#user-research-articles .container:before, section#user-research-articles .container:after {
      display: block;
      content: '';
      clear: both; } }
section#user-research-articles .user-research-article {
  padding-bottom: 52px; }
  section#user-research-articles .user-research-article:last-of-type {
    padding-bottom: 0; }
  @media (min-width: 1064px) {
    section#user-research-articles .user-research-article {
      float: left;
      width: 75%;
      padding-right: 24px; } }
section#user-research-articles .user-research-article__title {
  padding-bottom: 20px; }
  section#user-research-articles .user-research-article__title:hover {
    text-decoration: underline; }
  @media (max-width: 700px) {
    section#user-research-articles .user-research-article__title {
      font-size: 24px; } }
  @media (min-width: 701px) and (max-width: 1063px) {
    section#user-research-articles .user-research-article__title {
      font-size: 24px; } }
  @media (min-width: 1064px) {
    section#user-research-articles .user-research-article__title {
      font-size: 28px; } }
section#user-research-articles .user-research-article__body {
  padding-bottom: 20px; }

@media (min-width: 701px) and (max-width: 1063px) {
  section#misc-articles .masonry-grid {
    position: relative; }
    section#misc-articles .masonry-grid:before, section#misc-articles .masonry-grid:after {
      display: block;
      content: '';
      clear: both; } }
@media (min-width: 1064px) {
  section#misc-articles .masonry-grid {
    position: relative; }
    section#misc-articles .masonry-grid:before, section#misc-articles .masonry-grid:after {
      display: block;
      content: '';
      clear: both; } }
section#misc-articles .misc-article {
  padding-bottom: 24px; }
  section#misc-articles .misc-article .misc-article__thumbnail {
    padding: 24px;
    background-color: #F2F2F2; }
    section#misc-articles .misc-article .misc-article__thumbnail img {
      width: 100%;
      box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.12), 0px 12px 20px 0px rgba(0, 0, 0, 0.12);
      transition: 0.2s; }
    section#misc-articles .misc-article .misc-article__thumbnail:hover img {
      box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2), 0px 12px 20px 0px rgba(0, 0, 0, 0.2); }
  @media (min-width: 701px) and (max-width: 1063px) {
    section#misc-articles .misc-article {
      float: left;
      width: 50%;
      padding-right: 24px; } }
  @media (min-width: 1064px) {
    section#misc-articles .misc-article {
      float: left;
      width: 33.33333%;
      padding-right: 24px; } }

#popup {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #f2f2f2;
  z-index: 10000;
  display: none;
  overflow-y: auto; }
  #popup #popup__close {
    position: fixed;
    top: 32px;
    right: 32px; }
  #popup #popup__content .popup__image {
    padding-bottom: 52px; }

@media (max-width: 700px) {
  section#article h1 {
    font-size: 20px; } }
@media (min-width: 701px) and (max-width: 1063px) {
  section#article h1 {
    font-size: 24px; } }
@media (min-width: 1064px) {
  section#article h1 {
    font-size: 24px; } }
section#article h2 {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 800; }
section#article h3 {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 800; }
section#article a {
  text-decoration: underline; }
section#article .article__hero {
  position: relative;
  height: 100vh; }
  section#article .article__hero.article__hero--white-font {
    color: #ffffff; }
  section#article .article__hero .article__hero__background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  section#article .article__hero .container {
    position: relative;
    position: relative;
    height: 100%; }
    section#article .article__hero .container:before, section#article .article__hero .container:after {
      display: block;
      content: '';
      clear: both; }
  section#article .article__hero .hero__text-wrapper {
    position: absolute; }
    section#article .article__hero .hero__text-wrapper a {
      text-decoration: none; }
    @media (max-width: 700px) {
      section#article .article__hero .hero__text-wrapper {
        right: 32px;
        bottom: 32px;
        left: 32px; } }
    @media (min-width: 701px) and (max-width: 1063px) {
      section#article .article__hero .hero__text-wrapper {
        float: left;
        width: 75%;
        padding-right: 24px;
        bottom: 52px; } }
    @media (min-width: 1064px) {
      section#article .article__hero .hero__text-wrapper {
        float: left;
        width: 75%;
        padding-right: 24px;
        bottom: 52px; } }
section#article .article__glance-block .container {
  position: relative;
  padding-top: 84px;
  padding-bottom: 52px;
  max-width: 818px; }
  section#article .article__glance-block .container:before, section#article .article__glance-block .container:after {
    display: block;
    content: '';
    clear: both; }
@media (max-width: 700px) {
  section#article .article__glance-block .glance-block__element {
    padding-bottom: 24px; }
    section#article .article__glance-block .glance-block__element:last-of-type {
      padding-bottom: 0; } }
@media (min-width: 701px) and (max-width: 1063px) {
  section#article .article__glance-block .glance-block__element {
    float: left;
    width: 33.33333%;
    padding-right: 24px; } }
@media (min-width: 1064px) {
  section#article .article__glance-block .glance-block__element {
    float: left;
    width: 33.33333%;
    padding-right: 24px; } }
section#article .article__glance-block .glance-block__element__title {
  display: block;
  padding-bottom: 8px; }
section#article .article__text-block .container, section#article .article__text-block--gold .container {
  padding-top: 52px;
  padding-bottom: 52px;
  max-width: 818px; }
section#article .article__text-block .text-block__inline-image-block img {
  min-width: 100%; }
section#article .article__text-block--bold {
  font-size: 20px; }
section#article .article__video-block .container, section#article .article__image-block .container {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #f2f2f2; }
section#article .article__image-block .container {
  position: relative; }
  section#article .article__image-block .container:before, section#article .article__image-block .container:after {
    display: block;
    content: '';
    clear: both; }
section#article .article__image-block img {
  display: block;
  min-width: 100%; }
@media (min-width: 701px) and (max-width: 1063px) {
  section#article .article__image-block.article__image-block--one-image .image-block__image-wrapper {
    float: left;
    width: 83.33333%;
    padding-right: 24px; } }
  @media (min-width: 701px) and (max-width: 1063px) and (min-width: 701px) {
    section#article .article__image-block.article__image-block--one-image .image-block__image-wrapper {
      margin-left: 8.33333%; } }

@media (min-width: 1064px) {
  section#article .article__image-block.article__image-block--one-image .image-block__image-wrapper {
    float: left;
    width: 66.66667%;
    padding-right: 24px; } }
  @media (min-width: 1064px) and (min-width: 701px) {
    section#article .article__image-block.article__image-block--one-image .image-block__image-wrapper {
      margin-left: 16.66667%; } }

@media (max-width: 700px) {
  section#article .article__image-block.article__image-block--two-images .image-block__image-wrapper:first-of-type {
    padding-bottom: 24px; } }
@media (min-width: 701px) and (max-width: 1063px) {
  section#article .article__image-block.article__image-block--two-images .image-block__image-wrapper {
    float: left;
    width: 50%;
    padding-right: 24px; } }
@media (min-width: 1064px) {
  section#article .article__image-block.article__image-block--two-images .image-block__image-wrapper {
    float: left;
    width: 50%;
    padding-right: 24px; } }
@media (min-width: 701px) and (max-width: 1063px) {
  section#article .article__video-block .video-block__video-wrapper {
    max-width: 83.33%;
    margin: 0px auto; } }
@media (min-width: 1064px) {
  section#article .article__video-block .video-block__video-wrapper {
    max-width: 66.67%;
    margin: 0px auto; } }
section#article .article__video-block .video-block__video {
  position: relative;
  padding-bottom: 56.25%;
  /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden; }
  section#article .article__video-block .video-block__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
section#article .spacer--32 {
  display: block;
  padding-bottom: 32px; }
section#article .spacer--52 {
  display: block;
  padding-bottom: 52px; }

section#next-article {
  margin-top: 52px;
  background-color: #f2f2f2; }
  section#next-article .container {
    position: relative; }
    section#next-article .container:before, section#next-article .container:after {
      display: block;
      content: '';
      clear: both; }
  @media (min-width: 1064px) {
    section#next-article .next-article__text-wrapper {
      float: left;
      width: 66.66667%;
      padding-right: 24px; } }
  section#next-article .next-article__title {
    padding-bottom: 20px; }
    section#next-article .next-article__title:hover {
      text-decoration: underline; }
    @media (max-width: 700px) {
      section#next-article .next-article__title {
        font-size: 20px; } }
    @media (min-width: 701px) and (max-width: 1063px) {
      section#next-article .next-article__title {
        font-size: 24px; } }
    @media (min-width: 1064px) {
      section#next-article .next-article__title {
        font-size: 24px; } }
  section#next-article .next-article__body {
    padding-bottom: 20px; }

section#contact a.mail {
  font-weight: 800;
  text-decoration: underline; }
  @media (max-width: 700px) {
    section#contact a.mail {
      font-size: 24px; } }
  @media (min-width: 701px) and (max-width: 1063px) {
    section#contact a.mail {
      font-size: 36px; } }
  @media (min-width: 1064px) {
    section#contact a.mail {
      font-size: 36px; } }

section#copyright p {
  color: rgba(0, 0, 0, 0.38); }
