<a name="contact" class="o-anchor"></a>
<footer class="l-footer">
	<div class="l-container">
		<h1 class="l-footer__title">Let’s work on your project!</h1>
		<a href="mailto:hello@jonasbrinkhoff.com" class="l-footer__email">
			<b><u>hello@jonasbrinkhoff.com</u></b>
		</a>
		<ul class="l-footer__list">
			<li class="l-footer__list-item">
				<a href="https://dribbble.com/jonasbrinkhoff" target="_blank">Dribbble</a>
			</li>
			<li class="l-footer__list-item">
				<a href="https://www.linkedin.com/in/jonas-brinkhoff/" target="_blank">LinkedIn</a>
			</li>
			<li class="l-footer__list-item">
				<a href="">Resume</a>
			</li>
		</ul>
	</div>
</footer>