<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Jonas Brinkhoff">
	<meta name="description" content="Jonas Brinkhoff is a UI/UX Designer and Web Developer who creates experiences that positively impact people.">
	<meta name="keywords" content="jonas brinkhoff, human computer interaction, design, designer, interaction, interface, experience, UI, UX, webdesign, web development, user experience design, user interface design, freelance, front-end development">
	<html lang="en">


	{% include favicon.html %}
	
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	
	<link rel="stylesheet" href="https://use.typekit.net/vjq5ywi.css">
	<link href="https://rsms.me/inter/inter.css" rel="stylesheet">

	{% include custom-scripts.html %}
</head>