#p-green-aisle.c-case-study {
	.c-section--with-background {
		background-color: #F5FAF7;
	}
	
	.c-image-cover {
		background-color: #CDE5D5;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 0 32px;

		@include media('<=sm') {
			max-height: 500px;
		}

		img {
			display: block;
			margin: 0px auto;
		}
	}

	.c-quote {
		background-color: #57A372;

		.c-quote__author {
			border-top-color: rgba(255, 255, 255, 0.1);
		}

		.c-quote__text,
		.c-quote__name {
			color: $text__white-primary;
		}

		.c-quote__position {
			color: $text__white-secondary;
		}
	}

	.l-table, 
	.l-table__head,
	.l-table__row,
	.c-images__head {
		border-bottom-color: #CDE5D5;
	}

	.c-feature__text {
		border-top-color: #CDE5D5;	
	}

	.l-table__head span,
	.c-table__numbered-list__number span,
	.c-images__head,
	.c-feature__text {
		color: #57A372;
	}
}