.c-clients {
	text-align: center;
	max-width: 928px;
	margin: 0px auto;

	.c-clients__heading {
		font-weight: 500;
		margin-bottom: 48px;

		&:after {
			content: '';
			display: block;
			width: 128px;
			height: 2px;
			margin: 32px auto 0 auto;
			background-color: rgba(0,0,0,0.1);
		}
	}
	.c-clients__clients {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.c-clients__client {
		position: relative;
		padding: 16px;

		@include media('<=sm') {
			width: 50%;
		}

		@include media('md') {
			width: 33%;
		}

		@include media('>=lg') {
			width: 20%;
		}

		.c-clients__client__logo {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.87;
			transition: 0.1s;
		}

		.c-clients__client__info {
			display: none;
			opacity: 0;
			padding: 16px;
			width: 320px;
			position: absolute;
			z-index: 1;
			text-align: center;

			background-color: #111111;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0,0,0,0.08);


			@include media('>=md') {
				top: 90%;
				left: 50%;
				transform: translate(-50%, 0%);
			}

			&:before {
				content: '';
				position: absolute;
				top: -12px;
				left: calc(50% - 16px);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 16px 12px 16px;
				border-color: transparent transparent #111111 transparent;
				border-style: inset;
				-webkit-transform:rotate(360deg);
			}

			p {
				font-size: 14px;
				line-height: 24px;
				color: $text__white-primary;
			}
		}

		&:hover {
			@include media('>=md') {
				.c-clients__client__logo {
					-webkit-filter: grayscale(0%);
					filter: grayscale(0%);
					opacity: 1;
				}
				.c-clients__client__info {
					opacity: 1;
					display: block;
				}
			}
		}
	}
}